.login-section {
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-bottom: 132px;
  padding-top: 92px;
}
.login-text__wrapper {
  max-width: 400px;
  @media (max-width: 933px) {
    width: 250px;
  }

  @media (max-width: 480px) {
    width: 250px;
  }
}

.login-title {
  color: #1877f2;
  font-weight: 700;
  font-size: 62px;
  @media (max-width: 933px) {
    font-size: 43px;
  }
  @media (max-width: 680px) {
    font-size: 26px;
  }
  @media (max-width: 480px) {
    font-size: 23px;
  }
}
.login-subtitle {
  font-size: 32px;
  line-height: 28px;
  font-weight: 300;
  @media (max-width: 933px) {
    font-size: 23px;
  }
  @media (max-width: 680px) {
    font-size: 18px;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.login-section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  @media (max-width: 680px) {
    flex-direction: column;
  }
  @media (max-width: 480px) {
    gap: 50px;
  }
}

.login-form {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 15px;
  width: 396px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  @media (max-width: 933px) {
    width: 350px;
  }
  @media (max-width: 680px) {
    width: 250px;
  }
}
.register-form{
  display: flex;
  gap:7px;
  flex-wrap: wrap;


}
.forgot-form{
  display: flex;
  gap:7px;
  flex-wrap: wrap;
  margin-left: -15px;


}
.change_password-form{
  display: flex;
  gap:7px;
  flex-wrap: wrap;
  margin-left: -15px;


}
.recents-account {
  align-self: flex-start;
}

.form-btn {
  width: 100%;
}
.create--btn {
  background-color: #36a420;
  @media (max-width: 700px) {
    font-size: 15px;
  }
}
.invalid-inputs-text {
  color: #f02849;
  align-self: flex-start;
}
.forgot-pass-btn {
  color: #188cf5;
}
.div-line__wrapper {
  margin-left: 8px;
  margin-right: 8px;
  width: auto;
  position: relative;
}
.div-line {
  color: #96999e;
  text-align: center;
  white-space: nowrap;
}

.div-line::after {
  background: #ccd0d5;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
  left: 100%;
  margin-left: 15px;
}

.div-line::before {
  background: #ccd0d5;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
  margin-right: 15px;
  right: 100%;
}

.register-title {
  color: #1c1e21;
  font-size: 32px;
  line-height: 38px;
}
.register-subtitle {
  color: #606770;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
}
.form-footer-text {
  color: #777;
  font-size: 11px;
  margin-top: 10px;
}
.form__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  box-shadow: 24px;
  padding: 32px;
  max-height: 90vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  @media (max-width: 992px) {
    width: 550px;
  }
  @media (max-width: 600px) {
    width: 450px;
  }
  @media (max-width: 468px) {
    width: 300px;
  }
}
.register-form__row-inputs {
  display: flex;
  flex-grow: 1;
  gap: 8px;
}
.form-modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;
}
.google_link {

  color:gray;
  font-size: 20px;
  font-weight: bold;

}
.red{
  color: #f02849;
  text-align: center;
}
.register_message{
  color:green;
}
.login_img{
  display: block;
  width: 200px;
  height: 200px;
  border: 2px solid red;
}
.login_wrapper{
  display: flex;
}